.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px; 
    border-bottom: 1px ridge;
    border-color: #d1c4e9;
    min-height: 400px;
}

.footer {
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px; 
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color: #9575cd;
    color: floralwhite;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
} 
body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark {
    background-color: #512dab;
}
 .tab-content {
   border-bottom: 1px solid #ddd;
   border-right: 1px solid #ddd;
   border-left: 1px solid #ddd;
   padding: 10px;
 }
  .fa:hover {
      opacity: 0.7;
  }
.fa-facebook {
    background: #3B5998;
    color: #ffffff;
    padding: 10px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;

  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    padding: 10px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa-google-plus {
    background: #dd4b39;
    color: white;
    padding: 10px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
    padding: 10px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
    padding: 10px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
.carousel {
  background: #512dab;
}
.carousel-item {
  height: 300px;
}
.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}








